div h3{
    font-size: 2.5em;

}

div p{
    font-size: 1.2em;
}

.welcome-info{
    margin-top: 5%;
    padding: 20px;
}
.info-user-main{
    padding-left: 10%;
    padding-right: 10%;
    line-height: 40px;
    
}

.info-user-main span {
    height: 50px;
    display: flex;
    justify-content: center;
}